<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex align-items-center justify-content-center sticky-top">
  <div class="container justify-content-between" id="navbarNav">
    <a class="navbar-brand fs-6 fw-semibold" href="/">
      Film🍿<br/>Tracker
    </a>
    <%= form_tag movies_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :name, params[:name], placeholder: "Enter movie name", class: "form-control me-2" %>
      <%= submit_tag "Search", class: "btn btn-outline-success" %>
    <% end %>
    <ul class="navbar-nav">
      <% if @movie %>
        <li class="nav-item">
          <%= link_to 'Edit Film', edit_movie_path(@movie), id: 'edit-film', class: 'btn btn-outline-info me-2' %>
        </li>
        <li class="nav-item">
          <%= form_with model: @movie, url: movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } do |form| %>
            <%= form.submit 'Delete Film', class: 'btn btn-outline-danger me-2' %>
          <% end %>
          <%# <%= link_to 'Delete Film', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, id: 'edit-film', class: 'btn btn-outline-danger me-2' %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to 'New Film', '/new', id: 'new-film', class: 'btn btn-success me-2' %>
      </li>
      <li>
        <% if current_user.present? %>
            <%= form_with url: destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } do |form| %>
              <%= form.submit 'Log out', class: 'btn btn-outline-danger me-2' %>
            <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>